.Vue-Toastification__toast--default.el-andariego-toast {
  background-color: #1a532e;
  color: #fff;
}

.Vue-Toastification__toast--success.el-andariego-toast {
  background-color: #1a532e;
  color: #fff;
}

.Vue-Toastification__toast--error.el-andariego-toast {
  background-color: #76070a;
  color: #fff;
}
